= form_tag songs_path, remote: true, method: :get, class: 'song-search-form' do
  .search-field
    = label_tag :artist, "artist"
    = text_field_tag :artist, "" , placeholder: 'artist name'

  .search-field
    = label_tag :album, "album"
    = text_field_tag :album, "", placeholder: 'album'

  .search-field
    = label_tag :song, "song"
    = text_field_tag :song, "", placeholder: 'song'

  .search-field
    = submit_tag "Submit"
